extends pppolice

block content
  h2(style="text-align:center;padding-top:10px") #{account.name}'s bp #{bpDate}
  div
    ul(id='container')
    script.
      window.onload = function(){
        var pull = io.connect('/');
        pull.on('report.farm',function(data) {
          console.log('farm',data);
          storage('farm',data,false);
          newToServer(true);
        });
        pull.on('report.pushedAll',function() {
          render('ppdesc',false);
          noBP(false);
        });
        pull.on('player.noBPToday',function() {
          noBP();
        });
        pull.on('player.newToServer',function() {
          newToServer();
        });
        setTimeout(_=> {pull.emit('!{emitEventName}',{id: !{account.id}}!{dateTime})},1000);
      }
  div(id='notify')
