extends pppolice

block content
  h2(class='shadow') #{account.name}'s bp #{bpDate}
  div(class='box')
    ul(id='container')
    script.
      window.onload = function(){
        var pull = io.connect('/');
        pull.on('report.farm',function(data) {
          console.log('farm',data);
          storage('farm',data,false);
          newToServer(true);
        });
        pull.on('report.pushedAll',function() {
          render('ppdesc',false);
          noBP(false);
        });
        pull.on('player.noBPToday',function() {
          noBP();
        });
        pull.on('player.newToServer',function() {
          newToServer();
        });
        pull.om('connect',_=>{
          setTimeout(_=> {pull.emit('!{emitEventName}',{id: !{account.id}}!{dateTime})},500);
        })
      }
  div(id='notify')
